*.pid
*.xml
*.csr
*.crt
*.key

www/*

# custom_components
custom_components

test
OZW_Log.txt
home-assistant.log
home-assistant_v2.db
home-assistant_v2_old.db
home-assistant_v2.db-wal
home-assistant_v2.db-shm
google_calendars.yaml
apple_watch.yaml
alarm_log.json
*.db-journal
lib
deps
tts
.uuid
secrets.yaml
secrets.txt
known_devices.yaml
*.conf
*.pyc
plex.conf
phue.conf
harmony_media_room.conf
pyozw.sqlite
alarm.yaml
alarm.json
withings/
homebridge/
/appdaemon/appdaemon.yaml
.*
!.travis.yml
!/.gitignore
coreappdaemon/appdaemon.yaml
core
removed_or_templates/
/appdaemon/apps/dfreeeze/
/lovelace/links_card.yaml
ssh/
zwcfg_0xca115759.xml
ip_bans.yaml
/lovelace/old/*
haslcache.json
appdaemon/compiled
nodered/
zones/
resources/
node-red/
appdaemon/apps/security/

B7I2T5~Z

# ESPHome ignores
esphome/secrets.yaml
esphome/*/*.csv
esphome/.build
!esphome/boards/.esphome.yaml
esphome/archived
!esphome/common/secrets.yaml
!esphome/components/secrets.yaml
zigbee.db
